*.large.*
*large*
large/**
*ckpt*.*
logs/**
.ipynb**/**
vgg16model*.h5
*.env
.idea/**
temp/**
**/*.env
**/creditcard.csv
**/loan.csv
**/*.pickle
**/agent_results/**
**/charge.csv
venv/*
.idea
.idea/**

